CricketClubMiddle/.vs/CricketClub/v16/Server/sqlite3/storage.ide-wal
CricketClubMiddle/.vs/CricketClub/v16/Server/sqlite3/storage.ide-shm
CricketClubMiddle/.vs/CricketClub/v16/Server/sqlite3/storage.ide
CricketClubMiddle/.vs/CricketClub/v16/Server/sqlite3/db.lock
CricketClubMiddle/.vs/CricketClub/v16/.suo
CricketClubMiddle/packages/
CricketClubMiddle/TestHarness/bin/
CricketClubMiddle/TestHarness/obj/
CricketClubMiddle/CricketClubMiddle/bin/
CricketClubMiddle/CricketClubMiddle/obj/
CricketClubMiddle/CricketClubAccounts/bin/
CricketClubMiddle/CricketClubAccounts/obj/
CricketClubMiddle/CricketClubFantasyFives/bin/
CricketClubMiddle/CricketClubFantasyFives/obj/
CricketClubDAL/CricketClubDAL/obj/
CricketClubDAL/CricketClubDAL/bin/
CricketClubDomain/obj/
CricketClubDomain/bin/
Tests/CricketClub.Tests/bin
Tests/CricketClub.Tests/obj
*.csproj.FileListAbsolute.txt
CricketClubMiddle/.vs/CricketClub/v16/.suo
