<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- Updated to use SQL Server instead of Microsoft Access -->
    <!-- For LocalDB: -->
    <add name="ScorebookDB" connectionString="Server=(localdb)\MSSQLLocalDB;Database=VillageScorebook;Integrated Security=true;TrustServerCertificate=True;" providerName="Microsoft.Data.SqlClient"/>
    <!-- For SQL Server Express: -->
    <!-- <add name="ScorebookDB" connectionString="Server=localhost\SQLEXPRESS;Database=VillageScorebook;Integrated Security=true;TrustServerCertificate=True;" providerName="Microsoft.Data.SqlClient"/> -->
    <!-- For Azure SQL or remote SQL Server: -->
    <!-- <add name="ScorebookDB" connectionString="Server=your-server.database.windows.net,1433;Database=VillageScorebook;User Id=your-user;Password=your-password;TrustServerCertificate=True;" providerName="Microsoft.Data.SqlClient"/> -->
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
