<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="LocalDB" connectionString="Server=TABLET;Database=thevilla_scorebook;Uid=vcc;Password=vcc;Provider='SQLOLEDB';"/>
    <add name="Laptop" connectionString="Server=LAPTOP\SQLEXPRESS17;Database=thevilla_scorebook;Uid=vcc;Password=vcc;Provider='SQLOLEDB';"/>
    <add name="BigPC" connectionString="Server=BIG-PC\SQLEXPRESS;Database=thevilla_scorebook;Uid=vcc;Password=vcc;Provider='SQLOLEDB';"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
